*.user
*.suo
.vs/
x64/
Debug/
Release/
Build/
*.obj
*.pdb
*.ilk
*.exe
*.log
*.dmp
*.tmp
*.temp
*.bak
*.cache
*.userprefs
.cache/
bin/
obj/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
